.BodyPhilosophyBackground{
    background-color: #9E9782;
    // height: 1000px;
    // margin: 100px;
    .BodyPhilosophy{
        height: 1000px;
        width: 1600px;
        margin: 0 auto;
        padding: 40px;
        .bodyPhilosophyH{
            font-size: 48px;
            padding: 10px;
        }
        .bodyPhilosophyMain{
            display: flex;
            justify-content: space-between;
            .bodyPhilosophyMainP{
                font-size: 32px;
                width: 800px;
                margin-top: 200px;
            }
        }
    }
}