.App {
  text-align: center;
  background-color: #F2E8E5;
  margin: 0 auto;
}



.Appp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2E8E5;
}

.AppForLoader{
  text-align: center;
  background-color: #F2E8E5;
  height: 1000px;
 
}


/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  background-color: #F2E8E5;
} */

/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


.loadere{
  animation: colorize 3s infinite;
}

@keyframes colorize{
  0% {filter: grayscale(100%);}
  50% {filter: grayscale(0%);}
  100% {filter: grayscale(100%);}
}




.loa{
  /* animation: fadeIn 2.5s ease-in-out; */

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  margin: 10px;
  font-size: 20px;
}

.loaOne{
  animation-delay: 0.5s;
}
.loaTwo{
  animation-delay: 1s;
}
.loaThree{
  animation-delay: 1.5s;
}
.loaFour{
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* .loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.loadingText {
  animation: fadeIn 3s ease-in forwards;
  opacity: 0;
  color: red;
}

.loaded .loadingText {
  display: none;
} */